<div class="accordion-wrapper">
  {{# authors }}
  <div aria-expanded="false" class="accordion" data-multiselect="disabled">
    <button class="accordion__head">
      <img class="accordion__img" src="{{ src }}" alt="{{ name }}"> {{ name }} | {{ title }}
    </button>
    <div class="accordion__container">
      <div class="accordion__body">
        <p><strong>{{ location }}: </strong> {{ langauges }}</p>
        <p>{{ short-info }}</p>
        <ul>
          <li>T: {{ phone }}</li>
          <li>M: {{ mobile }}</li>
        </ul>
        <p><a class="accordion__email" hreflang="en" href="mailto:{{ email }}">{{ email }}</a></p>
        <p><a class="accordion__view-profile" hreflang="en" href="">View full profile</a></p>
      </div>
    </div>
  </div>
  {{/ authors }}
</div>