<div class="toolbar-search load-desktop">
	<div class="outer-row">
		<div class="row">
			<div class="col-sm">
				<ul class="toolbar-search__list">
					{{# toolBarSearchArticle }}
					<li class="toolbar-search__item">
					 <img src="{{src}}" class="toolbar-search__anchor {{ class }}" alt="{{ company.name }}" />
					</li>
					{{/ toolBarSearchArticle }}
				</ul><!-- end breadcrumbs -->
			</div>
			{{> molecules-block-search }}
			
		</div>
	</div>
</div>
<div class="toolbar-search__pop-up load-desktop">
	<div class="outer-row"></div>
</div>
<div class="toolbar-search__pop-up-mobile load-mobile">
	<div class="outer-row">{{> molecules-block-search }}</div>
</div>



