<div class="breadcrumbs">
	<ul class="breadcrumbs__list">
		{{# breadcrumb }}
		<li class="breadcrumbs__item">
			<a class="breadcrumbs__anchor" hreflang="en" href="{{ url }}">{{ label }}</a>
		</li>
		{{/ breadcrumb }}
	</ul><!-- end breadcrumbs -->
</div>