<div class="hero hero--green">
	<div class="inner-row">
		{{> molecules-block-breadcrumbs }}
		<h1 class="hero__headline">FCA’s Market Study into General Insurance Pricing Practices: Pricing interventions proposed to tackle competition concerns</h1>
		<ul class="hero__social">
			<li class="hero__social-linkedin">
				<span>09 October 2019 | 15 minutes reading time</span> 
			</li>
		</ul>
	</div>
	{{> molecules-block-toolbar-search }}
</div>
<!-- end hero-->

