<div class="hero hero--grey">
	<div class="inner-row">

		<div class="row">
			<div class="col-md-6">
				{{> molecules-block-breadcrumbs }}
				<h1 class="hero__headline">Cynthia M. Krus</h1>
				<p>Partner | Washington, DC</p>
				<p>Cynthia currently serves as the Executive Partner of Eversheds Sutherland (US), and is on the Global Executive
				Management Team and the Global Board for Eversheds Sutherland Ltd</p>
				<ul class="hero__social">
					<li class="hero__social-linkedin">
						<a href="">Linked in</a>
					</li>
					<li class="hero__social-twitter">
						<a href="">Twitter</a>
					</li>
					<li class="hero__social-blog">
						<a href="">Blog</a>
					</li>
				</ul>

				<ul class="hero__info">
					<li class="hero__info-mobile">
						<span>M:</span> <a href="">+41.202.383.0218</a>
					</li>
					<li class="hero__info-email">
						<span>E:</span> <a href="">cynthiakrus@eversheds-sutherland.com</a>
					</li>
					<li class="hero__info-languages">
						<span>Lanuages:</span> English
					</li>
				</ul>
			</div>

			<div class="col-md-6">
				<img src="../../images/Cynthia.png" alt="">
			</div>
		</div>

	</div>
	{{> molecules-block-toolbar-search }}
</div>
<!-- end hero-->

