<div class="carousel">
	<div class="outer-row">
		<!-- Slider main container -->
		<div class="swiper-container">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide"
					data-bullet="Eversheds Sutherland wins Product Team of the Year at Real IT Awards 2019">
					<div class="row">
						<div class="col-md-6">
							<h2>Keeping our finger on the pulse</h2>
							<p>With the Technology, Media and Telecoms (TMT) landscape changing rapidly, it is vital to try and keep
								pace with
								the
								emerging technologies redefining the world and regulatory frameworks we operate in.</p>
							<p><a hreflang="en" href="">Read article</a></p>
						</div>
						<div class="col-md-4 offset-md-2">
							<img class="swiper-image" src="../../images/hand-wifi.png" alt="">
						</div>
					</div>
				</div>
				<div class="swiper-slide" data-bullet="Lawyers experienced in Technology, Media and Telecoms law">
					<div class="row">
						<div class="col-md-6">
							<h2>Slide 2</h2>
							<p>With the Technology, Media and Telecoms (TMT) landscape changing rapidly, it is vital to try and keep
								pace with
								the
								emerging technologies redefining the world and regulatory frameworks we operate in.</p>
							<p><a hreflang="en" href="">Read article</a></p>
						</div>
						<div class="col-md-4 offset-md-2">
							<img class="swiper-image" src="../../images/hand-wifi.png" alt="">
						</div>
					</div>
				</div>
				<div class="swiper-slide" data-bullet="Taking a closer look our financial Blockchain and Crypto Assets group ">
					<div class="row">
						<div class="col-md-6">
							<h2>Slide 3</h2>
							<p>With the Technology, Media and Telecoms (TMT) landscape changing rapidly, it is vital to try and keep
								pace with
								the
								emerging technologies redefining the world and regulatory frameworks we operate in.</p>
							<p><a hreflang="en" href="">Read article</a></p>
						</div>
						<div class="col-md-4 offset-md-2">
							<img class="swiper-image" src="../../images/hand-wifi.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<p class="swiper-related">Other articles by Cynthia</p>
			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>
<!-- end carousel-->