/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Layout container
 */
.outer-row {
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	z-index: 1;

	@include media-breakpoint-up(lg) {
		max-width: $l-max-width;
		padding: 1rem;
	}

	@media (min-width: $bp-xxl) {
	  max-width: $xl-max-width;
	}
}
