<nav class="footer-main-nav">
	<div class="outer-row">
		<div class="row">
			<div class="accordion-wrapper accordion-wrapper--accordion-to-list">
				{{# footer-nav }}
				<div aria-expanded="false" class="accordion" data-multiselect="disabled">
					<h4 class="accordion__head">{{ heading }}</h4>
					<div class="accordion__container">
						<div class="accordion__body">
							<ul class="accordion__list">
								{{# list }}
								<li class="accordion__item"><a href="{{ url }}" class="accordion__link">{{ item }}</a></li>
								{{/ list }}
							</ul>
						</div>
					</div>
				</div>
				{{/ footer-nav }}
			</div>
		</div>
	</div>
</nav>
<!--end footer-main-nav-nav-->