<nav class="footer-main-nav">
	<div class="row">
		<div class="col-md-3 footer-accordion" aria-expanded="false" data-multiselect="disabled">
			<h4 class="footer-accordion__header">Locations</h4>
			<div class="footer-accordion__container">
				<ul class="footer-accordion__list">
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Western Europe</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Central & Eastern Europe</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Africa</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Asia</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Middle East</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">North America</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Latin America</a></li>
				</ul>
			</div>
			<!--end footer-main-nav__list-->
		</div>
		<div class="col-md-3 footer-accordion" aria-expanded="false" data-multiselect="disabled">
			<h4 class="footer-accordion__header">Services</h4>
			<div class="footer-accordion__container">
				<ul class="footer-accordion__list">
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Antitrust and Competition</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Banking and Finance</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Commercial and Trade</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Construction and Engineering</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Corporate and Capital Markets</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Corporate Crime</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Employment Labor and Pensions</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Financial Services</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Insurance</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Intellectual Property</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Litigation</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Real Estate</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Tax</a></li>


				</ul>
			</div>
			<!--end footer-main-nav__list-->
		</div>
		<div class="col-md-3 footer-accordion" aria-expanded="false" data-multiselect="disabled">
			<h4 class="footer-accordion__header">Industries</h4>
			<div class="footer-accordion__container">
				<ul class="footer-accordion__list">
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Consumer</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Diversified Industrials</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Energy and Infrastructure</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Financial Services</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Health and Life Sciences</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Public Sector</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Real Estate</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Technology, Media and Telco</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">Transport</a></li>
				</ul>
			</div>
			<!--end footer-main-nav__list-->
		</div>
		<div class="col-md-3 footer-accordion" aria-expanded="false" data-multiselect="disabled">
			<h4 class="footer-accordion__header">About us</h4>
			<div class="footer-accordion__container">
				<ul class="footer-accordion__list">
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">About us link 1</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">About us link 2</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">About us link 3</a></li>
					<li class="footer-accordion__item"><a href="" class="footer-accordion__link">About us link 4</a></li>
				</ul>
			</div>
			<!--end footer-main-nav__list-->
		</div>
	</div>
</nav><!--end footer-main-nav-nav-->