<nav class="sub-nav">
	<div class="row">
		<div class="col-8">
			<ul class="sub-nav__list">
				<li class="sub-nav__item"><a href="" class="sub-nav__link">Terms & Conditions</a></li>
				<li class="sub-nav__item"><a href="" class="sub-nav__link">Accessibility</a></li>
				<li class="sub-nav__item"><a href="" class="sub-nav__link">Legal Notices</a></li>
				<li class="sub-nav__item"><a href="" class="sub-nav__link">Privacy & Cookies Policy</a></li>
				<li class="sub-nav__item"><a href="" class="sub-nav__link">Sitemap</a></li>
			</ul>
			<!--end sub-nav__list-->
		</div>
		<div class="col-4">
			<ul class="sub-nav__social-list">
				<li class="sub-nav__social-item sub-nav__social-item-linkedin"><a href="" class="sub-nav__social-link">LinkedIn</a></li>
				<li class="sub-nav__social-item sub-nav__social-item-twitter"><a href="" class="sub-nav__social-link">Twitter</a></li>
				<li class="sub-nav__social-item sub-nav__social-item-facebook"><a href="" class="sub-nav__social-link">Facebook</a></li>
				<li class="sub-nav__social-item sub-nav__social-item-rss"><a href="" class="sub-nav__social-link">RSS</a></li>
			</ul>
		</div>
	</div>
</nav><!--end sub-nav-->