<nav class="sub-nav">
	<div class="row back-to-top load-mobile">
		<div class="col-md-12">
			<a href="#top"><img src="../../images/icons/arrow-top.svg"/><span class="back">Back to top</span> </a>			
		</div>	
	</div>
	<div class="row">
		<div class="col-lg-8">
			<ul class="sub-nav__list">
			{{# subNavList}}
				<li class="sub-nav__item"><a hreflang="en" href="" class="sub-nav__link">{{subNavLi}}</a></li>
				{{/ subNavList}}
			</ul>
			<!--end sub-nav__list-->
		</div>
		<div class="col-lg-4">
			<!--<ul class="sub-nav__social-list">
				<li class="sub-nav__social-item sub-nav__social-item-linkedin"><a hreflang="en" href=""
						class="sub-nav__social-link">LinkedIn</a></li>
				<li class="sub-nav__social-item sub-nav__social-item-twitter"><a hreflang="en" href=""
						class="sub-nav__social-link">Twitter</a></li>
				<li class="sub-nav__social-item sub-nav__social-item-facebook"><a hreflang="en" href=""
						class="sub-nav__social-link">Facebook</a></li>
				<li class="sub-nav__social-item sub-nav__social-item-rss"><a hreflang="en" href=""
						class="sub-nav__social-link">RSS</a></li>
			</ul>-->
			<ul class="sub-nav__social-list">
					{{# subNavSocialList }}
					<li class="sub-nav__social-item img-social-item"><div class="sub-nav__social-link"><img src="{{subNavSocial}}" alt="" class="sub-nav__social-link-article {{className}}"/></div></li>
					{{/ subNavSocialList }}
			</ul>
		</div>
	</div>
</nav>
<!--end sub-nav-->