<ul class="pagination">
	<li class="prev-btn">{{previous_btn}}</li>
		{{# paginationList }}
		<li class="pagination-break"></li>
		<li class="pagination__item"><a hreflang="en" href="{{ url }}">{{ number }}</a></li>
		{{/ paginationList }}
	<li class="next-btn active">{{next_btn}}</li>
</ul>