<nav id="nav" class="top-nav">
	<div class="top-nav__mobile">
		<div class="top-nav__mobile__logo">
			<img src="../../images/evershedssutherland-logo.png"/>
		</div>
		<div class="top-nav__location-menu__mobile">
			<ul class="top-nav__location-menu">
					{{# locationNav }}
					<li class="top-nav__location-menu-item">
						<a href="{{ url }}" class="top-nav__location-menu-link">
							<img src="../../images/location.png"/>
							<select>
								{{# locationItems }}
								<option value="{{ label_m }}">{{ label_m }}</option>
								{{/ locationItems }}
							</select>
						</a>
					</li>
					{{/ locationNav }}
				</ul>
		</div>
		<div class="top-nav__main-menu__mobile">
		MENU
		</div>
	</div>
	

</nav><!--end top-nav-->
