<nav id="nav" class="top-nav">
	<div class="row">
		<div class="col-md">
			<ul class="top-nav__sub-menu">
				{{# subNav }}
				<li class="top-nav__sub-menu-item"><a hreflang="en" href="{{ url }}"
						class="top-nav__sub-menu-link">{{ label }}</a></li>
				{{/ subNav }}
			</ul>
			<!--end top-nav__sub-menu-->
		</div>

		<div class="col-md top-nav__right">
			<ul class="top-nav__location-menu">
				{{# locationNav }}
				<li class="top-nav__location-menu-item">
					<a hreflang="en" href="{{ url }}" class="top-nav__location-menu-link">
						{{ label }}
						<select>
							{{# locationItems }}
							<option value="{{ label }}">{{ label }}</option>
							{{/ locationItems }}
						</select>
					</a>
				</li>
				{{/ locationNav }}
			</ul>
			<ul class="top-nav__language-menu">
				{{# languageNav }}
				<li class="top-nav__language-menu-item"><a hreflang="en" class="top-nav__location-menu-link">{{ label }}</a>
				</li>
				{{/ languageNav }}
			</ul>
			<ul class="top-nav__location-menu">
				{{# briefcaseNav }}
				<li class="top-nav__location-menu-item">
					<a hreflang="en" href="{{ url }}" class="top-nav__location-menu-link">{{ label }}</a>
				</li>
				{{/ briefcaseNav }}

			</ul>
			<!--end top-nav__location-menu-->
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<ul class="top-nav__main-menu">
				{{# primaryNav }}
				<li class="top-nav__main-menu-item">
					<a hreflang="en" href="{{ url }}" class="top-nav__main-menu-link">{{ label }}</a>
				</li>
				{{/ primaryNav }}
			</ul>
		</div>
	</div>
	<!--end top-nav__main-menu-->

</nav>
<!--end top-nav-->