<div class="about-authors">
    <div class="outer-row">
        <div class="row">

            <div class="col-md">
                <h2>About the authors</h2>
                <p>The team at Eversheds Sutherland are known for solving challenging business problems and resolving
                    sophisticated legal issues for many of the world’s largest companies. Here are a few talented
                    authors below;</p>

                {{> molecules-block-accordion }}
            </div>
        </div>
    </div>

</div>
<!--end about-authors -->