<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #5C832F;"></span>
		<span class="sg-label">
			$color-brand-lime <br />
			#5C832F
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3b4a20;"></span>
		<span class="sg-label">
			$color-brand-lime-dark <br />
			#3b4a20
		</span>
	</li>
</ul>
