<div class="text-area text-area--green">
	<div class="inner-row">
		<div class="row">
			<div class="col-md-3 authors load-desktop">
				<h4>Authors</h4>
				<ul class="text-area__sub-nav">
					{{# authors }}
					<li><img src="{{ src }}" alt=""><label>{{ name }}</label><label>{{ title }}</label></li>
					{{/ authors }}
				</ul>
			</div>
			<div class="col-md-6">
				{{{ htmlTextArtical }}}
			</div>
			<div class="col-md-3 load-desktop">
				<h4>Share this article</h4>
				<div class="share">
					<div class="icon-share-box">
						<img src="../../images/icon-share.png">
					</div>
				</div>
			</div>

		</div>
	</div>

</div><!--end text-area -->
