<div class="text-area">

	<div class="outer-row">
		<div class="row">
			<div class="col-lg-2">
				{{> molecules-block-accordion-to-list }}
			</div>
			<div class="col-lg-8 text-area__rte">
				{{{ htmlText }}}
				{{> molecules-block-accordion }}
			</div>
			<div class="col-lg-2">
				{{> molecules-block-share-this }}
			</div>

		</div>
	</div>

</div>
<!--end text-area -->