/*------------------------------------*\
    #TEXT
\*------------------------------------*/
.about-authors {
  position: relative;
  padding-top: 50px;
  background-color: $color-brand-grey-light;

  &__item {
    padding-top: 20px;

    &:nth-child(odd) {
      .green-lime & {
        border-bottom: 8px solid $color-brand-green;
      }
    }

    &:nth-child(even) {
      .green-lime & {
        border-bottom: 8px solid $color-brand-lime;
      }
    }

    &:last-child {
      border-bottom: none;

      .green-lime & {
        border-bottom: none;
      }
    }

    .row {
      .col-lg-1 {
        margin: 0;
      }
    }
    .img-border {
      margin-top: 10px;
      border: 1px solid #d8d8d8;
    }

    p {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    a {
      padding-right: 40px;
    }
  }
}
