/*------------------------------------*\
    #ACCORDION
\*------------------------------------*/

.accordion-wrapper {
  margin-top: 60px;
  width: 100%;

  /*------------------------------------*\
    #ACCORDION TO LIST
    \*------------------------------------*/
  &.accordion-wrapper--accordion-to-list {
    margin-bottom: 40px;
    margin-top: 0;

    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;

      .text-area & {
        display: block;
      }
    }

    .accordion:last-child {
      border-bottom: none;
    }

    .accordion__head {
      border-top: 1px solid $color-brand-black;

      .text-area & {
        border-top: 0;

        @include media-breakpoint-up(lg) {
          display: block;
        }

        img {
          display: block;
        }
      }

      @include media-breakpoint-up(lg) {
        border-top: 0;
        cursor: auto;
        @include fontSize(16px);
      }

      &:after {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }

    .accordion__item {
      @include fontSize(14px);
      display: block;
      font-family: $font-500;
    }

    .accordion__link {
      &:hover {
        text-decoration: underline;
      }
    }

    .accordion__container {
      @include media-breakpoint-up(lg) {
        height: auto;
      }
    }

    .accordion__list {
      font-family: $font-500;
      padding-bottom: 20px;

      .text-area & {
        padding-bottom: 0;
        padding-top: 20px;

        @include media-breakpoint-up(lg) {
          padding-top: 0;
        }
      }

      @include media-breakpoint-up(lg) {
        padding-bottom: 0;
      }
    }
  }
}

.accordion {
  .accordion__name {
    font-family: $font-700;
  }

  &__head {
    align-items: center;
    background-color: transparent;
    border: none;
    border-top: 1px solid $color-brand-black;
    cursor: pointer;
    display: flex;
    @include fontSize(21px);
    font-weight: 500;
    justify-content: space-between;
    padding: 1rem 0;
    text-align: left;
    transition: background-color 0.125s;
    width: 100%;

    img {
      margin-right: 20px;

      @include media-breakpoint-up(lg) {
        body & {
          width: initial;
        }
      }
    }

    &:after {
      content: '+';
      margin-left: auto;
      padding-right: 20px;

      .accordion[aria-expanded='true'] & {
        content: '\2013';
      }
    }
  }

  &__container {
    height: 0;
    overflow-y: hidden;
    transition: height 0.25s;
    will-change: height;
  }

  &__body {
    padding-bottom: 0.25rem;

    .accordion--with-image & {
      padding-left: 83px;
    }

    a {
      text-decoration: none;
    }

    ul {
      body & {
        margin-left: 0;
      }

      li {
        display: block;
        @include fontSize(18px);
        font-family: $font-700;
        margin-left: 0;
        margin-right: 20px;

        body & {
          &:before {
            display: none;
            visibility: hidden;
          }
        }
      }
    }
  }

  &__email {
    @include secondary-hover;
  }

  &__view-profile {
    @include primary-hover;
  }
}
