/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.breadcrumbs {
  font-family: $font-secondary;
  font-size: $font-size-small-2;
  margin-bottom: 10px;
  padding-left: 0.25rem;
  &__list {
    display: flex;
  }

  &__item {
   &:after {
      padding: 0 2px;
      content: '/\00a0';
    }
    &:last-child {
      &:after {
        content: none;
      }
      font-family: $font-secondary-bold;
    }
  }
}