/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.cta-primary {
  @include primary-hover;
}

.cta-secondary {
  @include secondary-hover;
}

.back-top-top {
  @include fontSize(16px);
  font-family: $font-500;
  position: relative;

  &:before {
    background: url('/images/icons/icon-black-arrow.svg') left center no-repeat;
    content: '';
    display: inline-block;
    height: 21px;
    left: 50%;
    margin-left: -16px;
    margin-right: 10px;
    position: absolute;
    transform: rotate(270deg);
    transition: top $anim-speed-quick ease;
    top: -30px;
    width: 28px;
  }

  &:hover,
  &:focus {
    &:before {
      top: -35px;
    }
  }
}
