/*------------------------------------*\
    #CAROUSEL
\*------------------------------------*/
.carousel {
  padding-top: 100px;

  img {
    margin-bottom: -6px;
  }

  .outer-row {
    padding-bottom: 0;
  }

  .swiper-pagination {
    border-top: 1px solid $color-brand-black;
    display: flex;
    padding-bottom: 50px;

    @include media-breakpoint-up(lg) {
      width: 50%;
    }
  }

  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0;
    margin-right: 20px;
  }

  .swiper-pagination-bullet {
    background: none;
    border-radius: 0;
    border-top: 10px solid transparent;
    font-family: $font-500;
    flex-grow: 1;
    height: auto;
    margin: 0;
    opacity: 1;
    padding-top: 10px;
    text-align: left;
    width: auto;
  }

  .swiper-pagination-bullet-active {
    background: none;
    border-top: 10px solid $color-brand-blue-dark;
  }

  .swiper-pagination-bullet-text {
    display: block;
    font-family: $font-secondary;
  }

  .swiper-related {
    bottom: 170px;
    font-family: $font-500;
    position: absolute;
    z-index: 1;
  }
}
