/*------------------------------------*\
    #FOOTER NAVIGATION
\*------------------------------------*/

.footer-main-nav {
  padding: 0px 0 20px 0;
  @include media-breakpoint-up(md) {
    padding-top: 0px;
  }
  @include media-breakpoint-up(lg) {
    padding: 0px 0 35px 0;
    border-bottom: 1px solid $color-brand-black;
    margin-bottom: 25px;
    padding-top: 15px;
  }

  .accordion-wrapper.accordion-wrapper--accordion-to-list {
    margin-bottom: 0px;
    .accordion__container {
      padding-top: 10px;
    }
    .accordion__head {
      border-top: 0px;
      border-bottom: 1px solid #2a2a2a;
      font-size: $font-size-med;
      &:after {
        font-size: 30px;
        line-height: 20px;
        font-weight: 300;
        font-family: $font-secondary-semibold;
      }
      @include media-breakpoint-up(lg) {
        border-bottom: 0px;
        padding-top: 10px;
      }
      .accordion__item {
        font-family: $font-secondary;
      }
    }
  }
}
/**
 * Footer Sub Nav List
 */
.sub-nav__list,
.sub-nav__social-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.sub-nav__social-list {
  @include media-breakpoint-up(lg) {
    justify-content: flex-end;
  }
  .img-social-item {
    img {
      vertical-align: middle;
    }
    .icon-linkedin {
      width: 23px;
      height: 22px;
    }
    .icon-twitter {
      width: 22px;
      height: 18px;
    }
    .icon-facebook {
      width: 12px;
      height: 24px;
    }
    .icon-rssfeed {
      width: 24px;
      height: 24px;
    }
  }
}

/**
 * Footer Sub Nav List Item
 */
.sub-nav__item {
  width: 50%;

  @include media-breakpoint-up(lg) {
    width: inherit;
  }
}

/**
 * Footer Sub Nav Links
 */
.sub-nav__link,
.sub-nav__social-link {
  font-weight: normal;
  display: block;
  padding: 1rem 1rem 1rem 0;
  font-size: $font-size-small-2;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
