/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer {
  background-color: $color-brand-grey-light;
  padding: 40px 0;
  margin-bottom: 80px;
  @include media-breakpoint-up(md) {
    padding: 50px 0;
  }
}

.copyright {
  font-size: $font-size-small;
  font-weight: bold;
  &.second {
    font-weight: normal;
  }
}

.back-to-top {
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  margin-bottom: 50px;
  .back {
    padding-left: 10px;
    vertical-align: top;
    line-height: 20px;
    text-decoration: underline;
  }
}
