/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header {
  border-bottom: 1px solid $color-brand-black;
  position: fixed;
  width: 100%;
  z-index: 3;

  .people-profile & {
    background-color: $color-brand-grey-light;
    color: $white;

    .top-nav__location-menu-item select {
      background-color: $color-brand-grey-light;
    }
  }

  .theme-search-results-content &,
  .theme-search-results-people & {
    background-color: $color-brand-dark-grey;

    a {
      color: $white;
    }

    .top-nav__location-menu-item select {
      background-color: $color-brand-dark-grey;
      color: $white;
    }
  }

  .sg-pattern-example & {
    position: relative;
  }

  &__sticky-area {
    display: none;
    justify-content: space-between;
    margin-top: 20px;

    .hero__headline {
      font-size: 1.2em;
    }

    li {
      list-style-type: none;
    }
  }

  &__sticky-area--active {
    color: $color-brand-black;
    display: block;

    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }
}
