/*------------------------------------*\
    #HERO
\*------------------------------------*/
.hero {
  position: relative;
  min-height: 712px;
  padding-top: 90px;

  .theme-search-results-people &,
  .theme-search-results-content & {
    background-color: $color-brand-dark-grey;
    color: $white;
    min-height: 470px;
    padding-bottom: 60px;
  }

  @include media-breakpoint-up(md) {
    padding-top: 140px;
  }

  &:before {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 63px;
    width: $small-border;
    z-index: 1;

    @include media-breakpoint-up(lg) {
      top: 91px;
      width: $big-border;
    }
  }

  &__header-section {
    @include media-breakpoint-up(md) {
      height: 433px;
      padding: 0 7.75rem 0 7.75rem;

      .theme-search-results-people &,
      .theme-search-results-content & {
        height: auto;
        padding: 0;
      }
    }
  }

  &--article {
    .toolbar-search__list {
      margin-left: 7.75rem;
      margin-top: 1.25rem;
    }
  }

  &--base {
    .toolbar-search__list {
      margin-left: 7.75rem;
      margin-top: 1.25rem;
    }
    h1 {
      font-size: $font-size-xx-large;
    }
  }

  &--profile {
    h1 {
      font-size: $font-size-xl-large;
    }
    p {
      margin-bottom: 0.5em;
    }
    .toolbar-search__list {
      margin-left: 0rem;
      margin-top: 1.25rem;
    }
  }

  .publish-info {
    margin-top: 40px;
  }

  .outer-row {
    margin-bottom: -5px;
    padding-bottom: 0;

    @include media-breakpoint-down(md) {
      padding: 0 10px 0 10px;
    }

    h1 {
      max-width: 850px;
      padding-bottom: 20px;
    }
  }

  .people-profile & {
    background-color: $color-brand-grey-light;

    .outer-row {
      margin-bottom: -21px;
    }
  }

  &__description {
    font-family: $font-secondary;
    font-size: $font-size-x-med;
    max-width: 650px;
    padding-left: 0.25rem;
  }

  &__partner-title {
    font-family: $font-secondary;
    font-size: $font-size-large-2;
  }

  &__partner-country {
    font-family: $font-secondary;
    font-size: $font-size-x-med;
  }

  &__partner-info {
    font-family: $font-secondary;
    font-size: $font-size-med-3;
  }

  &__profile-image {
    position: relative;
    bottom: -5px;

    @include media-breakpoint-up(lg) {
      bottom: 22px;
      position: absolute;
    }
  }

  &__social {
    padding: 20px 0 50px 0;
    li {
      float: left;
      margin-right: 15px;
    }
  }

  &__info {
    span {
      font-weight: bold;
    }
  }

  &__info-email {
    padding-bottom: 20px;

    a {
      @include secondary-hover;
    }
  }

  &__date {
    font-weight: bold;
  }
}
