/*------------------------------------*\
    #LOGO
\*------------------------------------*/

.logo {
  display: none;
  left: -120px;
  max-width: 200px;
  position: absolute;
  transform: rotate(270deg);
  top: 240px;

  @media (min-width: $bp-med-2) {
    display: block;
  }

  @media (min-width: $bp-xxl) {
    left: -200px;
  }
}
