/*------------------------------------*\
    #PRIMARY NAVIGATION
\*------------------------------------*/
.top-nav {
  //max-width: 1050px;
  text-align: center;
  margin: auto;

  &__right {
    text-align: right;
  }

  &__mobile {
    display: flex;
    justify-content: space-between;

    &__logo {
      padding-right: 80px;
    }

    img {
      margin-top: 10px;
      height: 35px;
    }
  }
}

.top-nav__sub-menu {
  display: flex;
  text-transform: uppercase;
  font-size: $font-size-small-2;

  &-item {
    margin-right: 20px;
    position: relative;
  }
}

.left-menu-padding-left-200 {
  @include media-breakpoint-up(lg) {
    padding-left: 200px;
  }
}

.top-nav__language-menu {
  display: inline-flex;
  text-transform: uppercase;
  font-size: $font-size-small-2;

  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
  }

  &-item {
    position: relative;
    margin-right: 10px;
    opacity: 0.26;

    &:active {
      opacity: 1;
    }

    &:last-child {
      margin-right: 20px;
    }
  }
}

.top-nav__main-menu__mobile {
  display: inline-flex;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-left: 1px solid #707070;
  width: 82px;
  height: 62px;
  padding-top: 20px;
  padding-left: 10px;
}

.top-nav__location-menu {
  display: inline-flex;
  text-transform: uppercase;
  font-size: $font-size-small-2;

  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
  }

  &-item {
    margin-right: 20px;
    position: relative;

    @include media-breakpoint-down(lg) {
      margin-right: 0px;
    }

    select {
      border: none;

      &:after {
        content: none;
      }
    }
  }

  &__mobile {
    border-left: 1px solid #707070;
    height: 62px;
    margin-left: auto;
    padding-top: 20px;
    width: 82px;

    img {
      margin: 0px;
      height: 20px;
    }

    select {
      font-size: 1.2rem;
    }
  }
}

.top-nav__main-menu {
  margin-top: 10px;
  display: flex;
  font-size: $font-size-med;

  &-item {
    margin-right: 20px;
    position: relative;
  }
}
