/*------------------------------------*\
    #TEXT
\*------------------------------------*/
.related-articals {
  position: relative;
  padding-top: 50px;
  background-color: $color-brand-green-dark;

  &--chank{
    padding-bottom: 20px;
    padding-top:20px;
    border-bottom: 1px solid #000000;
    &:last-child{
      border-bottom: none;
    }
    &--col{
      display: inline-flex;
      img{
        width: 250px;
        padding-right: 20px;
      }
      a{
        text-transform: uppercase;
      }
      p{
        padding-top: 10px;
      }
      h4{
        padding-top: 10px;
      }
    }
    &--nav{
      padding-top: 30px;
    }
  }
}


