/*------------------------------------*\
    #TEXT
\*------------------------------------*/
.text-area {
  position: relative;
  padding-top: 50px;
  
  ul {
	list-style: disc;
	margin-left: 1em;
    //margin: 0 0 $space 1.2em;
    li {
      margin-top: 10px;
	}
	li:last-child{
		margin-bottom: 20px;
	}
	li:before {
		content: "\25A0";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
		color: #CAD100; /* Change the color */
		font-weight: bold; /* If you want it to be bold */
		display: inline-block; /* Needed to add space between the bullet and the text */
		width: 1.2em; /* Also needed for space (tweak if needed) */
		margin-left: -1.15em; /* Also needed for space (tweak if needed) */
	  }
    ul {
      margin-bottom: 0;
    }
  }

  ol {
	list-style: decimal;
	margin-left: 1em;
    //margin: 0 0 $space 1.5em;
	li{
		margin-bottom: 10px;
		margin-top:10px;
	}
	li:last-child{
		margin-bottom: 20px;
	}
	ul{
		margin-left: 0em;
		margin-bottom: 20px;
		li{
			margin-bottom: 10px;
		}
	}
    ol {
	  margin-bottom: 0;
	  
    }
  }

  a {
	  text-decoration: underline;
	  font-size: $font-size-small;
  }

  &__sub-nav {
    .row & {
      list-style: none;
      margin: 0;
    }
  }
  .share {
    padding-top: 20px;
    padding-left: 40px;
  }
  .authors {
    padding-left: 120px;
    label {
      font-size: $font-size-small;
      font-family: $font-secondary;
      font-weight: 300;
    }
    li {
	  padding-top: 20px;
	}
	li:before {
		content: none;  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	  }
  }

  &--green {
    @include media-breakpoint-down(md) {
      border-right: $small-border solid $color-brand-green-dark;
      padding-left: 10px;
      margin-top:5px;
    }
    @include media-breakpoint-up(md) {
      border-left: $big-border solid $color-brand-green;
      border-right: $big-border solid $color-brand-green-dark;
    }
  }

  &--blue {
    border-left: $small-border solid $color-brand-grey-light;
    border-right: $small-border solid $color-brand-blue;

    @include media-breakpoint-up(md) {
      border-left: $big-border solid $color-brand-grey-light;
      border-right: $big-border solid $color-brand-blue;
    }
  }

  &--grey {
    border-left: $small-border solid $color-brand-grey-light;
    border-right: $small-border solid $color-brand-green-dark;

    @include media-breakpoint-up(md) {
      border-left: $big-border solid $color-brand-grey-light;
      border-right: $big-border solid $color-brand-green-dark;
    }
  }
}
