/*------------------------------------*\
    #FONTS
\*------------------------------------*/

@font-face {
  font-family: 'MuseoSans-700';
  src: url('/fonts/MuseoSans-700.eot');
  src: url('/fonts/MuseoSans-700.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSans-700.svg#MuseoSans-700') format('svg'),
    url('/fonts/MuseoSans-700.ttf') format('truetype'),
    url('/fonts/MuseoSans-700.woff') format('woff'),
    url('/fonts/MuseoSans-700.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans-500';
  src: url('/fonts/MuseoSans-500.eot');
  src: url('/fonts/MuseoSans-500.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSans-500.svg#MuseoSans-500') format('svg'),
    url('/fonts/MuseoSans-500.ttf') format('truetype'),
    url('/fonts/MuseoSans-500.woff') format('woff'),
    url('/fonts/MuseoSans-500.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans-300';
  src: url('/fonts/MuseoSans-300.eot');
  src: url('/fonts/MuseoSans-300.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MuseoSans-300.svg#MuseoSans-300') format('svg'),
    url('/fonts/MuseoSans-300.ttf') format('truetype'),
    url('/fonts/MuseoSans-300.woff') format('woff'),
    url('/fonts/MuseoSans-300.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('/fonts/SourceSansPro-SemiBold.eot');
  src: url('/fonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg'),
    url('/fonts/SourceSansPro-SemiBold.ttf') format('truetype'),
    url('/fonts/SourceSansPro-SemiBold.woff') format('woff'),
    url('/fonts/SourceSansPro-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('/fonts/SourceSansPro-Bold.eot');
  src: url('/fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg'),
    url('/fonts/SourceSansPro-Bold.ttf') format('truetype'),
    url('/fonts/SourceSansPro-Bold.woff') format('woff'),
    url('/fonts/SourceSansPro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('/fonts/SourceSansPro-Regular.eot');
  src: url('/fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg'),
    url('/fonts/SourceSansPro-Regular.ttf') format('truetype'),
    url('/fonts/SourceSansPro-Regular.woff') format('woff'),
    url('/fonts/SourceSansPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
