/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

/** Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback
 *	Usage: @include font-size(1, large);
 */
$base-font-multiplier: 1;

@mixin font-size($decimal-size, $keyword: null) {
  @if $keyword {
    font-size: $keyword;
  } @else {
    font-size: $decimal-size * $base-font-multiplier * 16px;
  }
  font-size: $decimal-size * 1rem;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin content-type {
  @include fontSize(14px);
  display: inline-block;
  font-family: $font-500;
  text-transform: uppercase;
}

@mixin primary-hover {
  @include fontSize(16px);
  font-family: $font-500;
  padding-left: 40px;
  position: relative;

  &:before {
    background: url('/images/icons/icon-black-arrow.svg') left center no-repeat;
    content: '';
    display: inline-block;
    height: 21px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    transition: left $anim-speed-quick ease;
    top: 0;
    width: 28px;
  }

  &:after {
    background-color: $color-brand-black;
    bottom: -5px;
    content: '';
    height: 2px;
    left: 40px;
    position: absolute;
    transition: width $anim-speed-quick ease;
    width: 0;
  }

  &:hover,
  &:focus {
    &:before {
      left: 5px;
    }

    &:after {
      width: calc(100% - 40px);
    }
  }
}

@mixin secondary-hover {
  @include fontSize(16px);
  cursor: pointer;
  font-family: $font-500;
  position: relative;

  &:after {
    background-color: $color-brand-black;
    bottom: -5px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: bottom $anim-speed-quick ease;
    width: 100%;
  }

  &:hover,
  &:focus {
    &:after {
      bottom: -10px;
    }
  }
}

@mixin theme-borders($primary, $secondary) {
  border-left: $small-border solid $primary;
  border-right: $small-border solid $secondary;

  @include media-breakpoint-up(lg) {
    border-left: $big-border solid $primary;
    border-right: $big-border solid $secondary;
  }
}

$themes: (
  theme-search-results-people: [$color-brand-yellow,
  $color-brand-dark-grey],
  theme-search-results-content: [$color-brand-orange,
  $color-brand-dark-grey],
  theme-green-yellow: [$color-brand-green,
  $color-brand-yellow],
  theme-green-lime: [$color-brand-green,
  $color-brand-lime],
  theme-blue-yellow: [$color-brand-blue,
  $color-brand-yellow],
  theme-blue-orange: [$color-brand-blue,
  $color-brand-orange],
  theme-yellow-green: [$color-brand-yellow,
  $color-brand-green],
  theme-lime-green: [$color-brand-lime,
  $color-brand-green],
  theme-yellow-blue: [$color-brand-yellow,
  $color-brand-blue],
  theme-orange-blue: [$color-brand-orange,
  $color-brand-blue],
  theme-grey-lime: [$color-brand-dark-grey,
  $color-brand-lime],
  theme-grey-yellow: [$color-brand-dark-grey,
  $color-brand-yellow],
  theme-grey-orange: [$color-brand-dark-grey,
  $color-brand-orange],
  theme-grey-blue: [$color-brand-dark-grey,
  $color-brand-blue]
) !default;

@mixin theme($name, $colors) {
  @for $n from 1 through length($name) {
    .#{$name} {
      @for $i from 1 through length($colors) {
        $primary-color: nth($colors, 1);
        $secondary-color: nth($colors, 2);

        .header {
          background-color: $primary-color;
        }

        .top-nav__location-menu-item select {
          background-color: $primary-color;
        }

        .spotlight-featured {
          background-color: $primary-color;
        }

        .spotlight-featured__type,
        .spotlight-event__type,
        .experience__type {
          border-bottom: 4px solid $secondary-color;
        }

        .text-area {
          @include theme-borders($primary-color, $secondary-color);

          .accordion__head {
            @include media-breakpoint-down(md) {
              border-bottom: $border-med solid $primary-color;
            }
          }

          blockquote {
            border-left: $border-med solid $secondary-color;

            &:before {
              color: $secondary-color;
            }
          }

          li:before {
            color: $secondary-color;
          }
        }

        .about-authors {
          @include theme-borders($primary-color, $secondary-color);
        }

        .cards--related {
          background-color: $secondary-color;
          .spotlight-featured__type {
            border-bottom: $border-med solid $color-brand-black;
          }
        }

        .cards__people-item-image-info {
          background-color: $primary-color;
        }

        .cards--people,
        .cards--content {
          .cards__item {
            border-bottom: $border-med solid $primary-color;
          }

          &:before {
            background-color: $primary-color;

            @include media-breakpoint-up(lg) {
              background-color: $primary-color;
            }
          }
        }

        .spotlight-event__place {
          background-color: $secondary-color;
        }

        .hero {
          background-color: $primary-color;

          &:before {
            background-color: $primary-color;

            @include media-breakpoint-up(lg) {
              background-color: $primary-color;
            }
          }
        }

        .toolbar-search {
          @include media-breakpoint-up(lg) {
            &:before {
              background-color: $primary-color;
              left: 0;
            }

            &:after {
              background-color: $white;
              border-right: 45px solid $secondary-color;
              right: 0;
            }
          }
        }

        .accordion__head {
          border-top: 6px solid $secondary-color;
        }

        .accordion:last-child {
          @include media-breakpoint-up(lg) {
            border-bottom: $border-med solid $secondary-color;
          }
        }

        .carousel {
          background-color: $primary-color;
          border-left: $small-border solid $primary-color;

          @include media-breakpoint-up(lg) {
            border-left: $big-border solid $primary-color;
          }

          .swiper-pagination-bullet-active {
            border-top: 10px solid $secondary-color;
          }
        }
      }
    }
  }
}

@each $key, $value in $themes {
  @include theme($key, $value);
}
