<div class="theme-lime-green">
  {{> organisms-header }}
  <main class="main" role="main">
    {{> organisms-block-hero-article }}
    {{> organisms-text-area-article }}
  </main>
  {{> organisms-about-authors }}
  {{> organisms-cards-related }}
  {{> organisms-footer }}
</div>