<div class="theme-blue-yellow people-profile">
  {{> organisms-header }}
  <main class="main" role="main">
    {{> organisms-block-hero-profile }}
    {{> organisms-text-area }}
    {{!-- {{> organisms-carousel }} --}}

    {{> molecules-spotlight-featured-3 }}
    {{> molecules-spotlight-event-1 }}
    {{> molecules-experience }}
  </main>
  {{> organisms-footer }}
</div>