/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/**
 * Heading 1
 */
h1 {
  font-size: 3.375rem;
  line-height: 1.2;
  font-weight: 500;

  @include media-breakpoint-down(lg) {
    font-size: 2.25rem;
  }
}

/**
 * Heading 2
 */
h2 {
  line-height: 1.2;
}

/**
 * Heading 3
 */
h3 {
  @include fontSize(21px);
  font-family: $font-500;
  line-height: 1.2;
}

/**
 * Heading 4
 */
h4 {
}

/**
 * Heading 5
 */
h5 {
}

/**
 * Heading 6
 */
h6 {
}

/**
 * Subheading
 */
.subheading {
  font-family: $font-secondary;
  font-weight: normal;
}
