/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Links
 */
a {
  color: $color-brand-black;
  text-decoration: none;
  outline: 0;
  transition: all $anim-speed-quick $anim-ease;
}
