/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Paragraph base styles
 */
p {
  @include fontSize(18px);
  margin-bottom: $space;
}

/**
 * Blockquote base styles
 */
blockquote {
  font-style: italic;
  border-left: 1px solid $color-gray-50;
  color: $color-gray-50;
  padding-left: $pad;
  margin-bottom: $space;
}

/**
 * Horizontal rule base styles
 */
hr {
  border: 0;
  height: 2px;
  background: $color-gray-15;
  margin: $space-double 0;
}

/**
 * Abbreviation base styles
 */
abbr {
  border-bottom: 1px dotted $color-gray-50;
  cursor: help;
}
