<div class="related-articals">
	<div class="inner-row">
		<div class="row">
			
			<div class="col-md">
                <h2>Related articles</h2>
				<ul>
                    {{# related-articals }}
                    <li class="related-articals--chank">
                        <div class="row">
                            <div class="col-md-11 related-articals--chank--col">
                                {{# src }}
                                <img class="img-border" src="{{ src }}" alt="">
                                {{/ src }}
                                <div>
                                    <a>{{type}} | {{date}}</a>
                                    <h4>{{title}}</h4>
                                    <p>{{info}}</p>
                                </div>
                            </div>
                            <div class="col-md-1 related-articals--chank--nav">
                            <a href="{{url}}">
                            <img src="../../images/arrow-right.png" alt="">
                            </a>
                            </div>
                        </div>
                    </li>
                    {{/ related-articals }}
                </ul>
            </div>
		</div>
	</div>

</div><!--end related-articals -->
