<footer class="footer" role="contentinfo">

	<div class="inner-row">
		{{> molecules-footer-sub-nav }}
		{{> molecules-footer-main-nav }}

		<p class="copyright">© Eversheds Sutherland 2019. All rights reserved. Eversheds Sutherland is a global provider of legal services operating
		through various separate and distinct legal entities.</p>
	</div><!-- end inner-row -->

</footer><!-- end footer -->
