<footer class="footer" role="contentinfo">

	<div class="outer-row">
		{{> molecules-footer-sub-nav }}
		{{> molecules-footer-main-nav }}

		<p class="copyright">{{copyright1}}</p>
		<p class="copyright second">{{copyright2}}</p>
	</div><!-- end outer-row -->

</footer><!-- end footer -->
