<header class="header" role="banner">
	<div class="outer-row">
		{{> molecules-logo-link }}
		<div class="header__nav load-desktop">
			{{> molecules-primary-nav }}
		</div><!-- end desktop header -->
		<div class="header__nav load-mobile">
			{{> molecules-primary-nav-mobile }}
		</div><!-- end desktop header -->
		<div class="header__sticky-area">
		</div>
	</div>
</header><!-- end header -->
